main {
    width: 100%;
    max-width: 1440px;
    max-height: 4028px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #a2efb9;
}
.header {
    box-sizing: border-box;

position: absolute;
width: 1440px;
height: 665px;
flex-direction: row;
flex-direction: column;
background: #F4F6F9;
}
.header_text {
    position: absolute;
    width: 546px;
    height: 96px;
    left: 163px;
    top: 190px;
}

.p_tex {
    position: absolute;
width: 453px;
height: 52px;
left: 163px;
top: 320px;
}


.image98 {
    position: absolute;
width: 760px;
height: 665px;
left: 47.2%;
top: 0px;
}

.app_store {
    position: absolute;
width: 156.05px;
height: 47px;
left: 163px;
top: 454px;
background-color: rgb(0, 0, 0);
border-radius: 7.33503px;
border: none;
}
.google_app {
    position: absolute;
width: 156.05px;
height: 47px;
left: 354.95px;
top: 454px;
background: #000000;
border-radius: 7.33503px;
}

.logo_futbol_header {
    position: absolute;
width: 99px;
height: 32px;
left: 163px;
top: 61px;
}


.tex_button1 {
    position: relative;
    width: 93.78px;
    height: 37.97px;
    left: 38%;
    top: 0%;

}

.logo_app_tex {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
display: flex;
align-items: flex-end;
color: #FFFFFF;
margin-top: auto;

}
.h_logo_tex {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 21.2716px;
line-height: 25px;
display: flex;
align-items: flex-end;
color: #FFFFFF;
margin-top: -10%;
}

.logo_apple {
    position: absolute;
width: 25.09px;
height: 30.78px;
left: 8%;
top: 15%;

}

.tex_button2 {
    position: relative;
    width: 93.78px;
    height: 37.97px;
    left: 38%;
    top: 0%;

}
.h_logo_tex2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    margin-top: auto;
}

.hed_text_1 {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
display: flex;
align-items: flex-end;
letter-spacing: 0.03em;
color: #333333;

}

.p_class_tex {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #4F4F4F;
}



.section_2 {
    box-sizing: border-box;
position: absolute;
width: 1440px;
height: 592px;
flex-direction: row;
flex-direction: column;
margin-top: 662px;
display: flex;
}

.ronaldo {
position: absolute;
width: 805px;
height: 592px;
left: 0px;
background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
display: flex;
flex-direction: row;
position: relative;
}

.arsenal {
       position: absolute;
   z-index: 2;
   width: 360px;
height: 218.06px;
left: 90px;
top: 160px;

}

.video_pos {
   z-index: 1;
   position: absolute;
width: 282px;
height: 151.27px;
left: 270px;
top: 300px;
}

.andere_scrin_2 {
    position: absolute;
width: 635px;
height: 592px;
left: 805px;
}

h3 {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #00ADEE;
margin-top: 133px;

}

h2 {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 37px;
color: #333333;
margin-top: 27px;
}

.section2_tex {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: #4F4F4F;
}

.lern_more_tex {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #00ADEE;
margin-top: 22px;
text-decoration: none;
}

.section_3 {
    box-sizing: border-box;

position: absolute;
    width: 1440px;
    height: 716px;
    top: 1257px;
    flex-direction: row;
    flex-direction: column;

    display: flex;
}


.third-section {
    margin-left: 162px;
margin-top: 217px;
width: 480px;
height: 291px;


position: relative;
}

.section3_h3 {
    margin-top: 0px;
}
.mobile_phone {
    position: absolute;
    
    height: 513px;
margin-left: 20%;
    margin-top: 8%;
    display: flex;
   
}


.phone_futbol {
    margin-left: 1440px;
}

.section_4 {
    position: absolute;
    width: 1440px;
    height: 735px;
    top: 1973px;
    background: #00ADEE;
}




.section_grid4 {
    position: fixed;
}

.section_grid4 {
    display: grid; 
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 40px;
    justify-content: center;
    position: relative
}
.word9 {
    width: 50px;
    height: 50px;
    background-color: rgb(187, 205, 27);
    position: relative;
}