
 th,td {
    width: 900px;
    border: none;
    border-collapse: collapse;
    color: #aaaaaa;
   
  } 

  table {
    width: 900px;
    border: 1px solid rgb(73, 72, 72);
    border-collapse: collapse;
    color: rgb(69, 69, 69);

  }

  th, td {
    background-color: rgb(75, 73, 73);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
  }

  th {
    text-align: left;
    color: rgb(247, 250, 253);
    text-size-adjust: 8px;
  }
  
  .image {
    width: 49px;
    height: 48px
  }



 input[type="search"] {
  height: 18px;
  width: 90%;
  font-size: 14px;
  background-position: left center;
  color: aliceblue;
  border-radius: 5px;
  color: rgb(191, 191, 191);
  border: 1px solid rgb(235, 235, 235);
  background-color: #585858;
}

.tablett {
  display: flex;
  border: 1px solid#a50808;
  border-radius: 6px;
}